{% extends layout('default') %}

{% block content %}

<div>
	<h1>News</h1>
</div>
<div>
	{% set news = entries("news", "news")
		.where("date", "<=", "now"|date("Y-m-d G:i:s"))
		.orderBy("date", "DESC")
		.get() %}

	{% for item in news %}
		<div class="news-item">
			<p class="date">{{ item.date.date|date("d M Y, g:ia") }}</p>
			{{ item.content|raw }}
		</div>
	{% endfor %}
</div>

{% endblock %}